<!doctype html>
<html lang="en">
    <head>
        {% render "main/head", metadata: site.metadata, title: page.title %}
    </head>

    <body class="{{ page.layout }} {{ page.page_class }}">
        {% render "main/navigation", metadata: site.metadata, page: page %}

        <main>
            {{ content }}
        </main>

        {% render "main/footer", metadata: site.metadata %}
    </body>
</html>