---
name: Add New Tracking Modal
description: Add a new game to track.
---

<div data-modal-target="container" data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard"
     class="hidden fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div data-modal-target="background" class="fixed inset-0 transition-opacity" aria-hidden="true">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div data-modal-target="view" role="dialog"
             class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle max-w-lg w-full">
            <div class="hidden sm:block absolute top-0 right-0 pt-4 pr-4">
                <button type="button" data-action="click->modal#close"
                        class="bg-white rounded-md text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                    <span class="sr-only">Close</span>
                    {% svg "/images/heroicons/outline/x.svg" class="h-6 w-6" %}
                </button>
            </div>
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="mt-3 sm:mt-0">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                        Create New Game to Track!
                    </h3>

                    <div class="hidden mt-2 rounded-md bg-red-50 p-4" data-playthroughs-target="errors">
                        <div class="flex">
                            <div class="flex-shrink-0">
                                {% svg "/images/heroicons/outline/x-circle.svg" class="h-5 w-5 text-red-400" %}
                            </div>
                            <div class="ml-3">
                                <h3 class="text-sm font-medium text-red-800">
                                    There were <span data-playthroughs-target="errorsCount"></span> errors with your submission
                                </h3>
                                <div class="mt-2 text-sm text-red-700">
                                    <ul class="list-disc pl-5 space-y-1" data-playthroughs-target="errorsList">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form class="mt-2">
                        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                            <div class="sm:col-span-6">
                                <label for="farmName" class="block text-sm font-medium text-gray-700">
                                    Farm Name
                                </label>
                                <div class="mt-1 flex rounded-md shadow-sm">
                                    <input type="text" name="farmName" id="farmName" placeholder="Doe Farm" data-playthroughs-target="farmName"  data-action="keyup->playthroughs#createWithKeyboard" autofocus
                                           class="flex-1 focus:ring-blue-500 focus:border-blue-500 block w-full min-w-0 rounded-md sm:text-sm border-gray-300">
                                </div>
                            </div>
                            <div class="sm:col-span-6">
                                <label for="playerName" class="block text-sm font-medium text-gray-700">
                                    Character Name
                                </label>
                                <div class="mt-1 flex rounded-md shadow-sm">
                                    <input type="text" name="playerName" id="playerName" placeholder="John" data-playthroughs-target="playerName" data-action="keyup->playthroughs#createWithKeyboard"
                                           class="flex-1 focus:ring-blue-500 focus:border-blue-500 block w-full min-w-0 rounded-md sm:text-sm border-gray-300">
                                </div>
                            </div>
                            <div class="sm:col-span-6">
                                <label for="uniqueName" class="block text-sm font-medium text-gray-700">
                                    Unique Name
                                </label>
                                <div class="mt-1 flex rounded-md shadow-sm">
                                    <input type="text" name="uniqueName" id="uniqueName" placeholder="player1_farm" data-playthroughs-target="uniqueName" data-action="keyup->playthroughs#createWithKeyboard"
                                           class="flex-1 focus:ring-blue-500 focus:border-blue-500 block w-full min-w-0 rounded-md sm:text-sm border-gray-300">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button type="button" data-action="click->playthroughs#create"
                        class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm">
                    Create
                </button>
                <button type="button" data-action="click->modal#close" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>