<!-- This example requires Tailwind CSS v2.0+ -->
<footer class="bg-white">
    <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
        <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
            <div class="px-5 py-2">
                <a href="/" class="text-base text-gray-500 hover:text-gray-900">
                    Home
                </a>
            </div>

            <div class="px-5 py-2">
                <a href="/about/" class="text-base text-gray-500 hover:text-gray-900">
                    About
                </a>
            </div>

            <div class="px-5 py-2">
                <a href="https://www.stardewvalley.net/" class="text-base text-gray-500 hover:text-gray-900">
                    Stardew Valley
                </a>
            </div>

            <div class="px-5 py-2">
                <a href="https://stardewvalleywiki.com/Stardew_Valley_Wiki" class="text-base text-gray-500 hover:text-gray-900">
                    Stardew Valley Wiki
                </a>
            </div>
        </nav>
        <p class="mt-8 text-center text-base text-gray-400">
            &copy; 2021 Stardew Valley Companion App All rights reserved.
        </p>
        <p class="mt-2 text-center text-base text-gray-400">
            Stardew Valley is developed by <a href="http://twitter.com/concernedape" class="text-blue-400">ConcernedApe</a> and self-published on most platforms.
        </p>
    </div>
</footer>
