<div class="lg:flex lg:items-center lg:justify-between py-4 px-2">
    <div class="flex-1 min-w-0">
        <h2 class="text-2xl font-bold leading-7 text-gray-50 sm:text-3xl sm:truncate">
            Stardew Valley
        </h2>
        <div class="mt-1 flex flex-row flex-wrap mt-0 space-x-6">
            <div class="mt-2 flex items-center text-sm text-gray-100">
                <img src="https://stardewvalleywiki.com/mediawiki/images/3/30/House_%28tier_1%29.png" class="flex-shrink-0 mr-1.5 h-5 w-5" />
                <span data-playthroughs-target="farmNameOutput"></span>
            </div>
            <div class="mt-2 flex items-center text-sm text-gray-100">
                <img src="https://stardewvalleywiki.com/mediawiki/images/2/27/The_Player_Icon.png" class="flex-shrink-0 mr-1.5 h-5 w-5" />
                <span data-playthroughs-target="playerNameOutput"></span>
            </div>
            <div class="mt-2 flex items-center text-sm text-gray-100">
                <span data-playthroughs-target="percentCompleteOutput"></span>
            </div>
        </div>
    </div>
    <div class="mt-5 flex lg:mt-0 lg:ml-4">
        <span>
            <button type="button" class="inline-flex items-center px-2.5 py-1.5 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-amber-600 hover:bg-amber-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-amber-500">
                Items Needed
            </button>
        </span>

        <div class="relative inline-block text-left ml-2 pt-1" data-controller="dropdown"
             data-action="click->dropdown#toggle click@window->dropdown#hide"
             data-dropdown-hide-class="hidden"
             data-dropdown-invisible-class="opacity-0 scale-95"
             data-dropdown-visible-class="opacity-100 scale-100"
             data-dropdown-entering-class="ease-out duration-150"
             data-dropdown-enter-timeout-value="100"
             data-dropdown-leaving-class="ease-in duration-100"
             data-dropdown-leave-timeout-value="75">
            <div>
                <button class="bg-transparent rounded-full flex items-center text-gray-200 hover:text-gray-400 focus:outline-none">
                    {% svg "/images/heroicons/outline/dots-vertical.svg" class="h-5 w-5" %}
                </button>
            </div>

            <div data-dropdown-target="menu" class="hidden origin-top-right absolute right-0 mt-2 w-36 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
                <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                    <a href="#" class="group flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                        {% svg "/images/heroicons/outline/save.svg" class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" %}
                        Save
                    </a>
                    <a href="#" class="group flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                        {% svg "/images/heroicons/outline/cloud-download.svg" class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" %}
                        Download
                    </a>
                    <a href="#" class="group flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                        {% svg "/images/heroicons/outline/cloud-upload.svg" class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500" %}
                        Upload
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
