---
name: Header
description: Header Section.
variables:
    labels:
        - data
---

<div class="lg:flex lg:items-center lg:justify-between py-4 px-2">
    <div class="flex-1 min-w-0">
        <h2 class="text-2xl font-bold leading-7 text-gray-50 sm:text-3xl sm:truncate">
            Stardew Valley
        </h2>
        <div class="mt-1 flex flex-row flex-wrap mt-0 space-x-6">
            <div class="mt-2 flex items-center text-sm text-gray-100">
                <img src="https://stardewvalleywiki.com/mediawiki/images/3/30/House_%28tier_1%29.png" class="flex-shrink-0 mr-1.5 h-5 w-5" />
                <span data-playthroughs-target="farmNameOutput"></span>
            </div>
            <div class="mt-2 flex items-center text-sm text-gray-100">
                <img src="https://stardewvalleywiki.com/mediawiki/images/2/27/The_Player_Icon.png" class="flex-shrink-0 mr-1.5 h-5 w-5" />
                <span data-playthroughs-target="playerNameOutput"></span>
            </div>
            <div class="mt-2 flex items-center text-sm text-gray-100">
                <span data-playthroughs-target="percentCompleteOutput"></span>
            </div>
        </div>
    </div>
    <div class="mt-5 flex lg:mt-0 lg:ml-4">
        <span class="relative z-0 inline-flex shadow-sm rounded-md">
            <button type="button" class="relative inline-flex items-center px-4 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
                Save
            </button>
            <button type="button" class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
                Download
            </button>
            <span data-controller="slideover" data-slideover-hide-class="hidden" data-slideover-allow-close-value="true"
                  data-slideover-to-background-class="opacity-100" data-slideover-from-background-class="opacity-0"
                  data-slideover-to-view-class="translate-x-0" data-slideover-from-view-class="translate-x-full">
                <button type="button" data-action="click->slideover#open"
                        class="-ml-px relative inline-flex items-center px-4 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
                    Upload
                </button>
                {% render "slideovers/file_upload", labels: labels.upload %}
            </span>
        </span>
    </div>
</div>
